@import '../../variables.scss';

.title, .cta {
    text-transform: uppercase;
}

.titleContainer {
    position: absolute;
    right: 20%;
    bottom: 0;
    background-color: $white;
    width: 50%;
    padding: .5rem 1rem;
    margin: 0 auto;
    margin-bottom: 0
}

.title {

    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.8rem;
    color: $black;
    // color: #4a4a4a;
}

.menuItem {
    position: relative;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-width: 30%;
    height: 300*$px;
    margin: 1rem;
    border: 5.5px solid #4a4a4a;
    border-radius: 10px;
}

.menuItem:nth-child(1n + 4) {
    height: 450*$px;
}

.subtitle {
    font-weight: lighter;
    font-size: 1.2rem;
}