
@import '../../variables.scss';

.collectionItem {
    color: $black;
}

.collectionItem:hover {
    color: $orange;
    cursor: pointer;
}

.collectionItem img:hover {
    opacity: .75;
}

@media only screen and (max-width: 769px) {
    .collectionItem {
        padding: 0 .25rem;
    }
}