@import '../../variables.scss';

.header {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    position: relative;
    padding: 1.5rem;
}

.logoContainer img {
    position: absolute;
    width: 50%;
    left: 10rem;
}

/*Navigation*/
.navigation {
    display: flex;
}

.navigation li {
    font-family: "Splatfont2";
    font-size: 1.5rem;
    color: #fff;
    list-style: none;
    margin: 0 .5rem;
}

.navigation li:hover {
    cursor: pointer;
    color: $green;
}

.storeFront {
    font-family: "Splatfont2";
    font-size: 1.5rem;
    color: $pink;
}