@import '../../variables.scss';

.loginLayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}

.terminalUIBlock {
    background-color: $white;
    padding: 2.5rem;
    margin: 0 auto;
    border-radius: 10px;
}

// Sign in properties
.loginCommon {
    input {
        display: block;
    }

    label {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: .25rem;
        font-weight: bold;
    }

    p {
        font-weight: bold;
        text-align: center;
    }
}

.thirdPartyContainer {
    background: #D8DFEA;
    padding: 1rem;
    padding-top: 0.025rem;
}

@media only screen and (max-width: 769px) {
    .loginLayout {
        display: block;
    }

    .terminalUIBlock {
        padding: 0.5rem;
        margin: 1.5rem;
    }
}