@import '../../variables.scss';

.collectionPreviewSet {
    background-color: $white;;
    padding: 1.5rem;
    margin: 1.5rem;
}

.preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.5rem;
}

.title, .preview {
    color: $black;
    width: 50%;
    font-weight: bold;
}

.clothing:hover {
    color: $orange;
    cursor: pointer;
}

.clothing img:hover {
    opacity: .75;
}