/*Definitive Colors*/
$white: #fff;
$black: #000;
$pink: #F02D7D;
$green: #19D719;
$limegreen: #B5E11F;
$turquoise: #1FCFBD;
$purple: #CF20DF;
$orange: #FA5A02;
$blue: #0132FA;
// pixels to rems convertor
$px: 0.063rem;